* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}


nav {
    height: 51px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;

}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    /* position: relative; */
    height: 84px;
    background-color: rgba(0,0,0, .6);
    position: absolute;
    width: 100%;
    /* z-index: 2; */
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #fff;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.promo {
    min-height: 800px;
    background: url('../img/bg/uber_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
    /* transform: translateY(-84px);
    z-index: 1; */
}

.promo .promo_header {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    text-align: center;
}

.promo .promo_subheader {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);

    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.label {

    margin: 71px 570px auto 570px;
    display: block;
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  
    padding: 8px 11px 6px 11px;
    background: #000;
}

.header {

    margin-top: 38px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .icon_round {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    min-width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_short {

    margin-top: 0;
    font-size: 17px;
    font-weight: 300;
    color: #1eacc7;
}

.reasons .reasons_block .reasons_descr {

    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #202020;
}


